.projectFilter {
  margin: 30px auto;
}
.projectFilter * {
  /* subtxt font size */
  font-size: 0.8rem;
}
.projectFilter nav {
  display: flex;
  padding: 16px;
  background-color: var(--secondary-color);
  border-radius: 4px;
}
.projectFilter p {
  margin-right: 10px;
}
.projectFilter button {
  background: transparent;
  border: none;
  font-weight: 600;
  cursor: pointer;
  border-right: 1px solid var(--accent-color);
  padding-left: 6px;
  padding-right: 6px;
}
.projectFilter button:nth-child(2) {
  padding-left: 0;
}
.projectFilter button:last-child {
  border: none;
}
.projectFilter button:global(.active) {
  color: var(--primary-color);
}
